:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --background-color-1: #222;
    --background-color-2: #776;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 6rem;
}
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}
body {
    background-color: var(--background-color-1);
    overflow-x: hidden;
    font-size: var(--font);
}
a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}
.box-shadow {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
/* todo lo referente  a menu  */
.menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
}
.menu-btn svg {
    fill: var(--first-color);
}
.menu {
    /* display: none; */
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}
.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}
.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}
/*  todo lo referente al header */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
article {
    margin-bottom: 60px;
}
.none {
    display: none;
}
.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}
.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    cursor: default;
    opacity: 1;
}
.footer {
    margin-bottom: var(--header-height);
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
}

@media (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height)-0.5rem);
    }
    .footer {
        margin-bottom: 0;
    }
    .menu-btn {
        display: none; /* Ocultamos el boton de amburger */
    }
    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a {
        padding: 0 1rem;
    }
    .menu a:last-child {
        padding-right: 0;
    }
    .menu a:hover {
        background-color: transparent;
    }
}
/* todo       hero-image      */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: var(--hero-attachment);
}
.hero-image-opacity {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}
.hero-image-title {
    font-size: 7vw;
    color: var(--hero-text-color);
}

/* todo lo referente a MATEMATICAS */
.btn {
    border-radius: 0.5rem;
    padding: 1rem; /* Para que haya sepaaracion */
    display: inline-block; /* Para que tenga cuerpo y se le puedan dar padding laterales y trabajen en linea y en bloque y no haya problema*/
    width: 200px;
    font-weight: bold; /* le damos un grosor bold */
    text-align: center; /* Centamos el texto */
    text-decoration: none; /* Quitamos el tipico decoration de los enlaces para que simule que es un boton */
    color: var(--white-color);
    background-color: var(--first-color);
}
.btn:hover {
    opacity: 0.5;
}

.container-formulas {
    background-color: var(--background-color-2);
    color: var(--white-color);

    border: thin solid var(--first-color);
    border-radius: 10px;
    margin: 45px auto;
    width: 350px;
}
.article {
    text-align: center;
}
.title {
    margin: 20px 0 20px 0;
}
.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
}
.datos {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: auto;
}
input {
    background-color: var(--background-color-1);
    color: var(--white-color);
    text-align: center;
    margin-bottom: 10px;
    width: 65px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
}
input:hover {
    border: thin solid var(--first-color);
}
input:focus {
    background-color: var(--third-color);
    color: var(--gray-color);
}
input::placeholder {
    color: var(--white-color);
}

.result {
    display: block;
    margin: 20px;
}

span {
    display: block;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
    width: 200px;
}
.franja {
    background-color: var(--second-color);
    height: 1px;
    margin: 15px auto;
    width: 300px;
}
.btn-calcularDescuento {
    cursor: pointer;
}
#reset-btn {
    cursor: pointer;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
/* ****************************** */
.menu-operacion {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;

    align-content: center;
    background-color: var(--background-color-1);
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    border-radius: 8px;
}
.menu-operacion.div-texto {
    text-align: center;
    align-items: center;
    align-content: center;
}

.menu-operacion div:hover {
    background-color: var(--first-color);
    opacity: 0.75;
    width: 200px;
    cursor: pointer;
    height: 20px;
}
/* ************** Botones {+ -} Calcular */
.calcular {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 10px auto;
}
.calcular div {
    display: flex;
    background-color: var(--background-color-1);

    width: 60px;
    height: 40px;
    margin: 10px 2px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.calcular .masmenos {
    font-size: 25px;
}
.calcular .masmenos:hover {
    background-color: var(--third-color);
    font-size: 35px;
    cursor: pointer;
}
.calcular div:nth-child(3) {
    border-radius: 0.5rem;
    padding: 1rem; /* Para que haya sepaaracion */
    width: 100px;
    font-weight: bold; /* le damos un grosor bold */

    text-align: center; /* Centamos el texto */
    align-items: center;

    color: var(--white-color);
    background-color: var(--first-color);
}
.calcular .btn-calcularOperacion:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* ***** eleccion o seleccionar la opcion***** */
.menu-operacion .eleccion {
    background-color: var(--background-color-1);
    /* Otros estilos no seleccionados */
}

.menu-operacion .eleccion.selected {
    background-color: var(--first-color);
    width: 200px;
    /* Otros estilos seleccionados */
}
